<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/124a41e026.js" crossorigin="anonymous"></script>
    <title>Online shopping site for mobiles, electronics</title>
</head>
<body>
    <nav>
        <div class="logo navComponents">
            <div class="companyLogo"><img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png" alt=""></div>
            <div class="explorePlus">
                <div class="explore">Explore </div>
                <div class="plus">Plus</div>
            </div>
        </div>

        <div class="searchBar navComponents">
            <input type="text" placeholder="Search for products, brands and more">
            <div class="logo">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="login navComponents">
            <span>Login</span>
        </div>

        <div class="becomeSeller navComponents">Become A Seller</div>

        <div class="more navComponents">
            <div class="text">more</div>
            <div class="logo"><i class="fa-solid fa-caret-down"></i></div>
        </div>
        
        <div class="cart navComponents">
            <div class="logo"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="text">cart</div>
        </div>
    </nav>
</body>
</html>